{% load static %}
<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <title>Vanda Farsad | Backend Developer</title>
</head>

<body>

    {% include "navigation.html" %}

    <!-- Hero Section -->
    <section class="hero" id="about">
        <img src="{% static 'img/man_at_work.svg' %}" alt="vanda-farsad" loading="lazy" class="hero-img" />
        <div class="bio animate__animated animate__shakeX">
            <h2 class="bio-title">Über mich</h2>
            <p class="bio-text">
                Backend-Entwickler mit langjähriger Python-Erfahrung
            </p>
        </div>
    </section>

    <!-- More about -->
    <section class="more-about">
        <h2>Mehr über mich</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis
            nesciunt excepturi quos obcaecati incidunt voluptatem ipsam sunt ipsum,
            autem deleniti cupiditate molestias quis unde quae totam porro dicta
            iure animi inventore, veniam hic! Omnis nulla, delectus a voluptatibus
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequuntur
            nostrum dolor minus, libero delectus praesentium perferendis
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero,
            consequuntur labore? Ea totam voluptas amet!
        </p>
    </section>

    <!-- Skills section -->
    {% if skills %}
    <section class="skills" id="skills">
        <h2 class="skill-header">Tech Stack</h2>

        {% for skill_block in skills %}
        <div class="skills-wrapper">
            <div class="first-set animate__animated animate__pulse">
                {% for skill in skill_block %}
                <img max-width="40" max-height="40" src="{{skill.image.url}}" alt="{{skill.title}}" loading="lazy"
                    class="icon icon-card" title="{{skill.title}}" />
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </section>
    {% endif %}

    <!-- Projects section -->
    {% if projects %}
    <section class="projects" id="projects">
        <h2 class="projects-title">Ausgewählte Kunden</h2>

        {% for project_block in projects %}
        <div class="projects-container">
            {% for project in project_block %}
            <div class="project-container project-card">
                <img src="{{project.image.url}}" alt="{{project.title}}" loading="lazy" class="project-pic" />
                <h3 class="project-title">{{project.title}}</h3>
                <p class="project-details">{{project.description}}</p>
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </section>
    {% endif %}

    <!-- Contact section -->
    <div style="text-align: center;">
        <section class="contact" id="contact">
            <h2>Kontakt</h2>
            <span class="leftRapper" style="white-space: pre-line;">
                IT Freelancer
                Dr. Vanda Farsad
            </span>
            <span class="rightRapper" style="white-space: pre-line;">
                +49 172 2890837
                <a href="mailto:info@whilegood.de">info@whilegood.de</a>
            </span>
        </section>
    </div>

    <!-- Social accounts - Fixed to the right -->
    <div class="socials">
        <a href="https://www.linkedin.com/in/vanda-farsad-4b98321a5/" target="_blank">
            <img src="{% static 'img/icons8-linkedin.png' %}" alt="Linkedin" loading="lazy" class="socicon" />
        </a>
        <a href="https://www.xing.com/profile/Vanda_Farsad" target="_blank">
            <img src="{% static 'img/icons8-xing.png' %}" alt="Xing" loading="lazy" class="socicon" />
        </a>
        <a href="https://github.com/VandaFarsad" target="_blank">
            <img src="{% static 'img/icons8-github.gif' %}" alt="Github" class="socicon" />
        </a>
    </div>

    <!-- Website scripts -->
    <script src="{% static 'js/app.js' %}"></script>

</body>

</html>
