{% load static %}
<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <title>Vanda Farsad | Backend Developer</title>
</head>

<body>

    {% include "navigation.html" %}

    <!-- Hero Section -->
    <section class="hero" id="about">
        <img src="{% static 'img/man_at_work.svg' %}" alt="vanda-farsad" loading="lazy" class="hero-img" />
        <div class="bio animate__animated animate__shakeX">
            <h2 class="bio-title">Über mich</h2>
            <p class="bio-text">
                Backend-Entwickler mit langjähriger Python-Erfahrung
            </p>
        </div>
    </section>

    <!-- More about -->
    <section class="more-about">
        <h2>Mehr über mich</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis
            nesciunt excepturi quos obcaecati incidunt voluptatem ipsam sunt ipsum,
            autem deleniti cupiditate molestias quis unde quae totam porro dicta
            iure animi inventore, veniam hic! Omnis nulla, delectus a voluptatibus
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequuntur
            nostrum dolor minus, libero delectus praesentium perferendis
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero,
            consequuntur labore? Ea totam voluptas amet!
        </p>
    </section>

    <!-- Skills section -->
    {% if skills %}
    <section class="skills" id="skills">
        <h2 class="skill-header">Tech Stack</h2>

        {% for skill_block in skills %}
        <div class="skills-wrapper">
            <div class="first-set animate__animated animate__pulse">
                {% for skill in skill_block %}
                <img max-width="40" max-height="40" src="{{skill.image.url}}" alt="{{skill.title}}" loading="lazy"
                    class="icon icon-card" title="{{skill.title}}" />
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </section>
    {% endif %}

    <!-- Website scripts -->
    <script src="{% static 'js/app.js' %}"></script>

</body>

</html>
