<nav>
  <h1>VANDA FARSAD | Backend Developer</h1>
  <ul class="navigation">
    <li>
      <a href="/#about" class="nav-link">Über Mich</a>
    </li>
    {% if skills %}
      <li>
        <a href="/#skills" class="nav-link">Skills</a>
      </li>
    {% endif %}
    {% if projects %}
      <li>
        <a href="/#projects" class="nav-link">Kunden</a>
      </li>
    {% endif %}
    <li>
      <a href="/#contact" class="nav-link">Kontakt</a>
    </li>
  </ul>
  <button class="burger-menu" id="burger-menu">
    <ion-icon class="bars" name="menu-outline"></ion-icon>
  </button>
</nav>
