option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: conf.settings
    PYTHONPATH: "/var/app/current:$PYTHONPATH"
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static
    /media: portfolio/data/media
  aws:elasticbeanstalk:container:python:
    WSGIPath: conf.wsgi:application
